html {
    background-color: black;
  }
  
  .display {
    text-align: center;
  }
  
  .calculator {
    margin: 50px;
    background-color: #dcdcdc;
    width: 25em;
    margin-left:auto;
    text-align: center;
    margin-right: auto;
    padding-bottom: 30px;
    border-radius: 50px;
    box-shadow: 0 0 0 10px white, 0 0 50px azure;
  }
  
  .calculator #display {
    margin-bottom: 20px;
    background: white;
    padding: 80px;
    font-size: 40px;
    border-radius: 50px 50px 0 0;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .calculator p {
    position: absolute;
    margin: 25px;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .heart {
    color: crimson;
    font-size: 18px;
  }
  
  .number-btn-all {
    display: flex;
    justify-content: center;
  }
  
  .number-btn-all tr td button {
    width: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 50%;
    font-weight: 500;
    margin: 3px;  
    transition: all 500ms ease;
    background: goldenrod;
    font-family: 'Roboto', sans-serif;
  }
  
  .number-btn-all #clear {
    background: firebrick;
  }
  .number-btn-all #equal {
    background: darkolivegreen;
  }
  .number-btn-all tr td button:hover {
    transform: scale(1.05);
  }
  
  .number-btn-all .btn-number {
    background: darkgray;
  }